.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.title {
    font-size: 2.5rem;
    color: #ff9104;
}

.message {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color:#ff2165;
}

.image {
    max-width: 100%;
    margin-bottom: 30px;
}

.button {
    background: linear-gradient(135deg, #f3900f, #ff097b);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 24px;
}